Adafruit_Blinka==6.9.1
pytz==2020.5
adafruit_circuitpython_neopixel==6.0.3
Flask==1.1.2
google_auth_oauthlib==0.4.4
board==1.0
google_api_python_client==2.4.0
Pillow==8.2.0
protobuf==3.17.0
RPi==0.0.1
