body {
  background: rgb(0, 0, 0);
  margin-top: 50px;
  margin-left: 100px;
  border: rgb(0, 0, 0);
  border-radius: 25%;
  border-style: solid;
  }

p {
  font-family: "Sofia", sans-serif;
  font-size: 2.5em;
  color: rgb(225, 224, 236);
  padding:1%;
  border: rgb(217, 221, 255);
  border-radius: 25%;
  
  }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3.5em;
  color: rgb(185, 245, 255);
  }

h2 {
  font-family: "Sofia", sans-serif;
  color:whitesmoke;
  font-size: xx-large;
}

.button {
background-color: #e0ecff; 
border:rgb(248, 248, 248);
color: rgb(231, 226, 255);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
text-decoration-color: antiquewhite;
text-decoration: solid;
}
.input {
border-radius: 25px;

padding: 10px;
width: 40%;
height: 150px;
text-decoration: solid;
text-decoration: dashed;
text-decoration-color: rgb(255, 255, 255);
font-size: 40px;
font-size: max(40px);
font-family: inherit;

padding: 0.25em 0.5em;
background-color: rgb(249, 248, 251);
border: 2px solid var(--input-border);

}

text{
text-emphasis-color: white;
}

:root {
--input-border: #ffffff;
--input-focus-h: 245;
--input-focus-s: 100%;
--input-focus-l: 42%;
}