{% comment %} alarmTime = {{ alarmTime }}

<head>
    <link rel="stylesheet" href='/static/main.css' />
  </head>
<form action="{{ url_for('alarmTime') }}" method="post">
    <input type="time" value="1" name="alarmTime">
    <input type="submit" value="set the alarmTime">
</form>

<p>
        Go to the <a href="index">main menu</a>
    </p>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color:red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %} {% endcomment %}