<head>
    <link rel="stylesheet" href='/static/main.css' />
  </head>

Upcoming events = {{ UberList }}
<p></p>





<p>

        Go to the <a href="/index">main menu</a>
    </p>
<p></p>

{{ UberList[0]}}&nbsp;&nbsp;&nbsp;{{ UberList[1]}} {{ UberList[2]}}
  <form method="post" >  
<input type="submit" name="startActivity0" value="Start The TimeTimer">
<input type="submit" name="remActivity0" value="Remove From Calendar">
</form>


{{ UberList[4]}}&nbsp;&nbsp;&nbsp;{{ UberList[5]}}&nbsp;&nbsp;&nbsp;{{ UberList[6]}}

 <form method="post" >  
<input type="submit" name="startActivity1" value="Start The TimeTimer">
<input type="submit" name="remActivity1" value="Remove From Calendar">
</form>

{{ UberList[8]}}&nbsp;&nbsp;&nbsp;{{ UberList[9]}}&nbsp;&nbsp;&nbsp;{{ UberList[10]}}

 <form method="post" >  
<input type="submit" name="startActivity2" value="Start the activity">
<input type="submit" name="remActivity2" value="I have finished this activity">
</form>

{{ UberList[12]}}&nbsp;&nbsp;&nbsp;{{ UberList[13]}}&nbsp;&nbsp;&nbsp;{{ UberList[14]}}

 <form method="post" >  
<input type="submit" name="startActivity3" value="Start the activity">
<input type="submit" name="remActivity3" value="I have finished this activity">
</form>
