
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  </head>

clockStateButton = {{ clockStateButton }}

<h1>
<h2>MiFloV2<h2>
<form action="{{ url_for('index') }}" method="post">
    <input type="button" value="1" name="clockStateButton">
    <input type="submit" value="switch off the alarm!!!">
</form>
</h1>
<p>
        <a href="/alarm">alarm</a>
    </p>
    <p>
        <a href="/timer">TimeTimer</a>
    </p>
    
    <p>
        <a href="/home">ToDo's</a>
    </p>

        <p>
         <a href="/events">events</a>
    </p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color:red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
