
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
<form>
  <input type="submit" name="alarmOff" value="Alarm off">
</form>

<form>
    <input type="submit" name="timerOff" value="Timer off">
  </form>

<p>
        <a href="/alarm">Alarm</a>
    </p>
    <p>
        <a href="/timer">TimeTimer</a>
    </p>
    
    <p>
        <a href="/home">ToDo's</a>
    </p>

        <p>
         <a href="/events">Events</a>
    </p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color:red">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
